fastapi
uvicorn[standard]
langchain
python-dotenv
PyPDF2
langchain-community
openai
google-generativeai
tiktoken
pymupdf
pymongo
websockets
langchain-google-genai
chromadb
langchain-chroma
pdf2image
pytesseract
pypdf
