[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain-core = "*"
langchain = "*"
langchain-google-genai = "*"
google-generativeai = "*"
streamlit = "*"
pypdf = "*"
chromadb = "*"
frontend = "*"
pymupdf = "*"
bs4 = "*"
beautifulsoup4 = "*"
selenium = "*"
pytesseract = "*"
pdf2image = "*"
fastapi = {extras = ["standard"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
